# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/


# Serverless directories
.serverless
.serverless-wsgi

# Other
.vscode
__pycache__
node_modules
instance.cfg
script/initialize_project.sh

# Pycharm
.idea
