[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
psycopg2 = "*"
marshmallow-enum = "*"
Flask = "*"
Flask-Cors = "*"
SQLAlchemy = "*"
Werkzeug = "*"
Flask-Script = "*"
marshmallow = "*"
flask-smorest = "*"
webargs = "==5.4.0"
marshmallow-sqlalchemy = "*"
pytest-factoryboy = "*"
requests = "*"
pytest-sqlalchemy = "*"
furl = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
themis-docs = "*"
dataclasses-json = "*"
aws-xray-sdk = "*"
email-normalize = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
mypy = "*"
importmagic = "*"
epc = "*"
pytest-xdist = "*"
watchdog = "*"
pytest-postgresql = "*"
pudb = "*"
ipdb = "*"
mypy_extensions = ">=0.4.1"
Faker = "*"
autoflake = "*"
"python-language-server[all]" = "*"
yapf = "*"
pytest-sqlalchemy = "*"
yaspin = "*"
pytest-flask-sqlalchemy = "*"
black = "*"
pytest-mock = "*"
moto = "*"
ipython = "*"
bento-cli = "*"
flake8-docstrings = "*"
pep8-naming = "*"
flake8-debugger = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
